*.project
inc/mysql.php
.idea
*.prefs
/nbproject/private/
nbproject/project.properties
#2337-fastreply-addon/
activity/
bilder/
inc/_templates_/DBMFC/
inc/_cache_/
inc/_logs/
inc/additional-functions/
inc/additional-languages/
membermap/test.json
membermap/test.php
vendor/brightnucleus/config/composer.lock
vendor/brightnucleus/exceptions/composer.lock
rss.xml
banner/sponsors/
banner/partners/
