/*######################################
  Global Styles, to norm all elements
######################################*/

/*---------------------------------------------
Set margin padding and font stuff for every element,
then it should not be required to set them again.
---------------------------------------------*/
html,body,table,td,div,form,button,select,input,textarea,h1,h2,h3,h4,h5,h6,a,p,cite,u,i {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Tahoma, Geneva, Helvetica, Sans-serif, serif;
    font-size: 10px;
    line-height: 150%;
}

/*---------------------------------------------
Set body attributes color and background
---------------------------------------------*/
html,body {
    color: #3b3b3b; cursor: default;
    background: #dcdcdc url(../images/background.jpg) repeat-x;
}
/*---------------------------------------------
Set as blockelements
---------------------------------------------*/
h1,h2,h3,h4,h5,h6,hr,p,div,form {
    display: block;
}

/*---------------------------------------------
Set vertical align to top, this helps if the
text flys in the middle of a table (td).
---------------------------------------------*/
td {
    vertical-align: top;
}

/*---------------------------------------------
Set font bold inside of this elements.
---------------------------------------------*/
strong, caption, optgroup, .strong {
    font-weight: bold;
    font-style: normal;
}

/*---------------------------------------------
Set no border for tables and images, the images
border comes if you link any image <a href=""><img></a>
and this sheet does make the border invisible
---------------------------------------------*/
img,table {
    border: 0 none;
    /*border-radius: 3px;*/
}

/*---------------------------------------------
Set a cursor for the label-TAG
---------------------------------------------*/
label {
    cursor: pointer;
}

/*---------------------------------------------
Set global style of the horizontal line
---------------------------------------------*/
hr {
    color : #000;
    height : 1px;
    padding : 0;
    border: 0 solid #000;
    border-top-width: 1px;
    margin: 3px 0 6px 0;
}

*+html hr { margin: 0 }
* html hr { margin: 0 }

/*---------------------------------------------
Set a square as in front of an unordered list
---------------------------------------------*/
ul li {
    list-style: square;
}

/*---------------------------------------------
Set general link style
---------------------------------------------*/
a:link,a:visited,a:hover,a:active {
    color: #414141;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #ff0000;
}
a:focus {
    outline: 0 none
}

/*---------------------------------------------
Set attributes for the main-table
---------------------------------------------*/

/* Global defines */
/* Cursors */
.pointer {
    cursor:pointer
}
a.pointer {
    cursor: pointer;
}
.default {
    cursor:default
}

div#page {
    position: relative;
    margin: auto; width: 947px;
}

table.maintable {
    background: url(../images/content_bg.jpg) repeat-y;
    width: 947px; margin: auto;
}

/* Rounded Corners */
/*
.corner,input,select,textarea,.mceEditor,.mceLayout,table.mainContent td {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(border-radius.htc);
}
*/

/*---------------------------------------------
Header attributes
-----------------------------------------------
index.html
---------------------------------------------*/
td.pagetitle {
    height: 149px;
    text-align: left;
    vertical-align: bottom;
}

td.pagetitleContent {
    width: 710px;
    height: 150px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
/*---------------------------------------------
Attributes of the Welcomebar
-----------------------------------------------
index.html
---------------------------------------------*/
td.welcomebar {
    text-align: left;
}

span.welcomebar {
    color: #FFF;
}

/*---------------------------------------------
Attributes of the main-content (shouldnt be edited)
-----------------------------------------------
index.html
---------------------------------------------*/
table.mainContent {
    width: 100%;
    background: #BBB;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    text-align: left;
}

table.navContent {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}

table.hperc {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}

/*---------------------------------------------
Attributes of the navigations loginbox
-----------------------------------------------
menu/login.html
---------------------------------------------*/
td.loginLeft, td.loginRight {
    width: 3px;
}
td.loginLeft {
    width: 12px;
}

input.loginName_dis,input.loginPwd_dis,input.loginName_en,input.loginPwd_en,input.loginSubmit {
    width: 145px; height: 20px; color: #85060a;
    border: 0;
    background: url(../images/login_name.jpg) top right;
    padding: 2px 2px 4px 24px;
}

input.loginPwd_dis,input.loginPwd_en {
    background-image: url(../images/login_pass.jpg);
}

input.loginSubmit {
    width: 41px; height: 42px;
    padding: 0;
    background: url(../images/login_submit.jpg);
    border: 0; cursor: pointer;
}


/*---------------------------------------------
Parts of the attributes of the navigations votebox
-----------------------------------------------
menu/vote.html
menu/vote_results.html
menu/vote_vote.html
---------------------------------------------*/
td.navVoteButton {
    text-align: center;
}

input.voteSubmit {
    padding: 1px 10px;
    background: #FFF url(../images/submit.jpg);
    border: 1px solid #5F5F5F;
    color: #000;
    cursor: pointer;
}
input.voteSubmit:hover {
    background-image: url(../images/submit_hover.jpg);
}
/*IE Hack*/
*+html input.voteSubmit { overflow: visible; }
* html input.voteSubmit { overflow: visible; }
/*---------------------------------------------
Parts of the attributes of the navigations votebox
-----------------------------------------------
menu/shout.html
menu/shout_add.html
menu/shout_form.html
---------------------------------------------*/
td.navShoutContentFirst {

}

td.navShoutContentSecond {

}

/*---------------------------------------------
Disabled input field (not clicked)
---------------------------------------------*/
input.shoutEmail_dis,input.shoutNick_dis,textarea.shoutTextfield_dis,
input.shoutEmail_en,input.shoutNick_en,textarea.shoutTextfield_en {
    border: 1px solid #111;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    background-color: #FFF;
    color: #000; padding: 1px;
    width: 148px;
}
/*---------------------------------------------
Enabled input fields (clicked)
---------------------------------------------*/
input.shoutEmail_en,input.shoutNick_en,textarea.shoutTextfield_en {
    border: 1px solid #000;
}
/*---------------------------------------------
Shoutbox-textfield
---------------------------------------------*/
textarea.shoutTextfield_dis,textarea.shoutTextfield_en {
    overflow: Auto;
    height: 80px;
}

/*---------------------------------------------
Shoutbox submit button
---------------------------------------------*/
input.shoutSubmit {
    padding: 1px 10px;
    background: #FFF url(../images/submit.jpg);
    border: 1px solid #5F5F5F;
    color: #000;
    cursor: pointer;
}
input.shoutSubmit:hover {
    background-image: url(../images/submit_hover.jpg);
}
/*IE Hack*/
*+html input.shoutSubmit { overflow: visible; }
* html input.shoutSubmit { overflow: visible; }
/*---------------------------------------------
Shoutbox submit button
---------------------------------------------*/
input.shoutLength {
    width: 26px;
    height: 13px;
    border: 0;
    background-color: transparent;
    text-align: center;
}

/*---------------------------------------------
Parts of the attributes of the navigations votebox
-----------------------------------------------
menu/server.html
server/server_show.html
---------------------------------------------*/
img.navServerPic,img.ServerPic {
    width: 155px;
}

/*---------------------------------------------
Attributes of all navigation boxes
-----------------------------------------------
menu/nav_[box].html
---------------------------------------------*/
table.tableNav {
    width: 100%;
}

td.navMainLeft,td.navClanLeft,td.navServerLeft,td.navMiscLeft {
    width: 2px;
}

td.navMainRight,td.navClanRight,td.navServerRight,td.navMiscRight {
    width: 2px;
}

td.navMainContent,td.navClanContent,td.navServerContent,td.navMiscContent {
    text-align: left;
}

td.navUserLeft,td.navMemberLeft,td.navTrialLeft,td.navAdminLeft {
    width: 5px;
}

td.navUserRight,td.navMemeberRight,td.navTrialRight,td.navAdminRight {
    width: 0;
}

td.navUserContent,td.navMemberContent,td.navTrialContent,td.navAdminContent {
    text-align: left;
}

td.navUotmContent,td.navPartnerContent,td.navSponsorsContent {
    text-align: center;
    padding: 2px 0;
}

img.uotm {
    width: 130px;
    height: 161px;
}

td.navLregLeft,td.navTopdlLeft,td.navTeamspeakLeft {
    width: 5px;
}

td.navLregContent,td.navTopdlContent,td.navTmpswitchContent,td.navPagerankContent,td.navTeamspeakContent {
    text-align: left;
}

div.navGameServer,
div#navTeamspeakContent {
    position: relative;
    width: 154px;
    overflow: auto;
    overflow-y: hidden;
}

div.navGameServer { width: 160px }

td.navTeamspeakRight {
    width: 11px;
}

td.navTopdlRight {
    width: 11px;
}

td.navTopdlHits {
    text-align: right; vertical-align: middle;
}

td.navTmpswitchLeft {
    width: 13px;
}

td.navNextCwDate {
    color: #FFF;
    vertical-align: middle;
}

td.navLastNewsLeft,td.navFtopicsLeft,td.navLastCwLeft,td.navNextCwLeft,td.navLastArtikelLeft,td.navKalLeft,td.navVoteLeft,td.navShoutLeft,td.navServerStatsLeft,td.navEventsLeft,td.navTeamLeft,td.topMatchLeft {
    width: 2px;
}

td.navLastNewsContent,td.navFtopicsContent,td.navLastCwContent,td.navNextCwContent,td.navLastArtikelContent,td.navServerStatsContent,td.navEventsContent {
    text-align: left;
    vertical-align: middle;
}

td.navLastNewsRight,td.navFtopicsRight,td.navLastCwRight,td.navNextCwRight,td.navLastArtikelRight,td.navKalRight,td.navVoteRight,td.navShoutRight,td.navServerStatsRight,td.navEventsRight,td.navTeamRight,td.topMatchRight {
    width: 2px;
}

td.navLastCwLeft,td.navNextCwLeft,td.navLastCwRight,td.navNextCwRight {
    width: 5px;
}

td.navServerStatsContent {
    text-align: center;
}
td.navServerStatsSpace {
    height: 5px;
}

td.navKalHead,td.navKalHeadDays,td.navKalDays,td.navKalToday,td.navKalEmpty,td.teamHead {
    text-align: center;
}

td.navKalHead span, td.navKalHead a {
    font-size: 11px;
}

td.navKalToday {
    border: 1px solid #000;
}

/*---------------------------------------------
Attributes of the counter-box
-----------------------------------------------
menu/counter.html
---------------------------------------------*/

td.counterLeft,td.counterRight {
    width: 3px;
}

td.counterContentHead {
    text-align: left;
}

td.counterContentLeft {
    text-align: left;
    width: 69px;
}

td.counterContentRight {
    text-align: right;
}

td.counterSpace {
    height:5px;
}
/*---------------------------------------------
Global styles of the content
---------------------------------------------*/
td.contentHead,td.contentMainTop,td.contentMainFirst,td.contentMainSecond,td.contentBottom,td.contentBottomLeft {
    height: 16px;
    padding: 3px;
    vertical-align: middle;
}

td.contentHead,td.infoTop {
    background-color: #303030;
    text-align: center;
    color:#ccc;
    border-bottom: 1px solid red;
}

td.contentMainTop,tr.contentMainTop {
    background-color: #DDD;
    vertical-align: top;
}

td.forumHead {
    text-align: left;
    height: 26px;
    padding: 5px 0 5px 10px;
    color: #FFF;
    vertical-align: middle;
}

td.contentMainFirst,
div#infoInnerLayer,
td.commentsRight,
td.navShoutContentFirst,
td.error,td.calDay,td.calToday,
.adminBarInner,.adminBarInnerOver,.adminMenuOuter,.adminMenuOuterOver,
.adminBarOuter,.adminBarOuterOver,.adminMenuInner,.adminMenuInnerOver {
    background-color: #eaeaea;
}

td.contentMainSecond,
td.commentsLeft,
td.navShoutContentSecond,
.adminMenuInnerOver,.adminMenuOuterOver {
    background-color: #F1F1F1;
}

td.contentBottom,td.contentBottomLeft {
    background-color: #CCC;
    text-align: center;
    font-weight: bold;
}

td.contentBottomLeft {
    text-align: left;
}

/*---------------------------------------------
Attributes of the Newsarea
-----------------------------------------------
news/news_show.html
news/comments_show.html
news/archiv.html
news/archiv_show.html
---------------------------------------------*/
/*
  Newsbox
*/
td.newsContent {
    padding: 3px;
}

td.archiveStats {
    text-align: center;
    background-color: #EEE;
    color: #000;
    border: 1px solid #000;
    padding: 2px;
}

td.contentHead {
    text-align: left;
    height: 20px;
    padding: 5px 0 5px 10px;
    color: #FFF;
    vertical-align: middle;
}
/*---------------------------------------------
Attributes of all Comments/GB-Entrys/Boardentrys
-----------------------------------------------
news/comments_show.html
artikel/comments_show.html
forum/forum_posts.html
forum/forum_posts_show.html
---------------------------------------------*/
td.commentsLeft {
    width: 25%;
    height: 128px;
    padding: 2px;
}

td.commentsRight {
    vertical-align: top;
    padding:4px;
}

/*---------------------------------------------
Attributes of the calendar
-----------------------------------------------
kalender/day.html
---------------------------------------------*/
td.calDay,td.calToday {
    text-align: left;
    vertical-align: top;
    width: 14%;
    height: 70px;
}

td.calToday {
    border: 1px solid #000;
}

/*---------------------------------------------
Attributes of the squads
-----------------------------------------------
squads/squads_show.html
squads/squads_member.html
clanwars/stats.html
clanwars/squads_show.html
awards/squads_show.html
awards/squads_show_all.html
awards/stats.html.html
server/server_show.html
---------------------------------------------*/
table.highlightSquads,table.highlightStats,table.highlightAwards,table.highlightServer {
    width: 100%;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    padding: 4px;
}

table.highlightServer {
    padding: 0;
}

table.highlightSquads {
    border: 0;
}

table.highlightAwards {
    padding: 0;
}

img.squadMember {
    width: 100%;
    height: 1px;
    background-color: #707070;
}
/*---------------------------------------------
Attributes of several links
-----------------------------------------------
menu/*.html
---------------------------------------------*/

a.navLostPwd:link,a.navLostPwd:visited,
a.navLastNews:link,a.navLastNews:visited,
a.navFtopics:link,a.navFtopics:visited,
a.navTopdl:link,a.navTopdl:visited,
a.navLastReg:link,a.navLastReg:visited,
a.navLastArtikel:link,a.navLastArtikel:visited,
a.navLastCw:link,a.navLastCw:visited,
a.navNextCw:link,a.navNextCw:visited,
a.navKal:link,a.navKal:visited,
a.navVote:link,a.navVote:visited,
a.navCounter:link,a.navCounter:visited,
a.navShout:link,a.navShout:visited,
a.navTeam:link,a.navTeam:visited,
a.navServerStats:link,a.navServerStats:visited,
a.navTeamspeak:link,a.navTeamspeak:visited {
    font-weight: normal;
    color: #111;
}

a.navLostPwd:link,a.navLostPwd:visited {
    color: #CCC;
}

a.navVote:link,a.navVote:visited {
    display: block; width: 205px;
}

a.navLostPwd:hover,a.navLostPwd:active,
a.navLastNews:hover,a.navLastNews:active,
a.navFtopics:hover,a.navFtopics:active,
a.navTopdl:hover,a.navTopdl:active,
a.navLastCw:hover,a.navLastCw:active,
a.navNextCw:hover,a.navNextCw:active,
a.navLastArtikel:hover,a.navLastArtikel:active,
a.navLastReg:hover,a.navLastReg:active,
a.navKal:hover,a.navKal:active,
a.navVote:hover,a.navVote:active,
a.navCounter:hover,a.navCounter:active,
a.navShout:hover,a.navShout:active,
a.navTeam:hover,a.navTeam:active,
a.navServerStats:hover,a.navServerStats:active,
a.navTeamspeak:hover,a.navTeamspeak:active {
    color: red;
}

a.navLostPwd:hover,a.navLostPwd:active {
    color: #FFF;
}

a.navUser:link,a.navUser:visited,
a.navTrial:link,a.navTrial:visited,
a.navMember:link,a.navMember:visited,
a.navAdmin:link,a.navAdmin:visited {
    float:left;
    display:block;
    width:110px;
    font-weight: bold;
    color: #fff;
}

a.navUser:hover,a.navUser:active,
a.navTrial:hover,a.navTrial:active,
a.navMember:hover,a.navMember:active,
a.navAdmin:hover,a.navAdmin:active {
    color: red;
}

a.navLastCw:link,a.navLastCw:visited,
a.navNextCw:link,a.navNextCw:visited {
    padding-left: 1px; padding-right: 1px;
}

a.navShout:link,a.navShout:visited { font-weight: bold }

a.navCounter:link,a.navCounter:visited,
a.navKal:link,a.navKal:visited {
    color: #ff0000;
    font-weight: bold;
}

/* Navigation */
a.navMain:link,a.navMain:visited,
a.navClan:link,a.navClan:visited,
a.navServer:link,a.navServer:visited,
a.navMisc:link,a.navMisc:visited {
    color: #2a2a2a;
    padding: 3px 3px 5px 18px;
    display: block;
    width: 146px;
    height: 20px;
}
a.navMain:hover,a.navMain:active,
a.navClan:hover,a.navClan:active,
a.navServer:hover,a.navServer:active,
a.navMisc:hover,a.navMisc:active {  color: #000;
}

/*
  Welcomelink
*/
.welcome:link,.welcome:visited,.welcome:hover,.welcome:active {
    color: #FFF;
    font-weight: bold;
}
.welcome:hover,.welcome:active {
    color: #ff0000;
}

a.ssl {
    color: black;
}

/*---------------------------------------------
Attributes of various font-styles
---------------------------------------------*/
span.fontText {
    font-weight: normal;
}

span.fontBold {
    font-weight: bold;
}

span.fontItalic {
    font-style: italic;
}

span.fontUnder {
    text-decoration: underline;
}

span.fontBoldUnder {
    font-weight: bold;
    text-decoration: underline;
}

span.fontItalicUnder {
    font-style: italic;
    text-decoration: underline;
}

span.fontError,span.fontWichtig,span.fontMarked,span.fontRed {
    font-weight: bold;
    color: #e50000;
}

span.fontGreen {
    font-weight: bold;
    color: #17D427;
}

span.fontSites {
    font-weight: bold;
    color: #EE0000;
}

span.fontSitesMisc {
    color: #000;
}

.sites:link,.sites:visited,.sites:hover,.sites:active {
    font-size: 10px;
    text-decoration: none;
}

.sites:hover,.sites:active {
    text-decoration: none;
}

/*
  Clanwarresults
*/
span.navCwWon,span.navCwDraw,span.navCwLost,span.CwWon,span.CwDraw,span.CwLost {
    font-weight: bold;
}

span.navCwWon,span.CwWon {
    color: #17D427;
}

span.navCwDraw,span.CwDraw {
    color: #DBD004;
}

span.navCwLost,span.CwLost {
    color: #e50000;
}

/*---------------------------------------------
Attributes of the errortable
-----------------------------------------------
errors/errortable.html
---------------------------------------------*/
td.error {
    text-align: center;
    padding: 3px;
}

/*---------------------------------------------
Style of the preloader
---------------------------------------------*/
div#preload {
    background-color: #FFF;
    border: 1px solid #000;
}

/*---------------------------------------------
Style of the higlighted boxes (Vote,Profil, etc)
---------------------------------------------*/
td.highlight {
    text-align: left;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}
/*---------------------------------------------
Style of the statisitc beam (votes, CWs)
---------------------------------------------*/
td.statsBalken {
    border: 1px solid #000;
    background-image: url('../../../images/vote_bg.gif');
}
/*---------------------------------------------
Templateswitcher dropdown
-----------------------------------------------
menu/tmp_switch.html
---------------------------------------------*/
select.tempswitch {
    width: 120px;
    color: #000;
    font-size: 97%;
    background-color: #FFF;
    border: 1px #000 solid;
}
/*---------------------------------------------
Dropdownmenus
---------------------------------------------*/
select.dropdown {
    color: #000;
    font-size: 97%;
    background-color: #FFF;
    border: 1px #000 solid;
}
/*---------------------------------------------
Dropdownmenus -> Categories
---------------------------------------------*/
option.dropdownKat {
    color: #000;
    font-size: 97%;
    font-weight: bold;
    background-color: #dbdbdb;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
}
/*---------------------------------------------
Enabled/disabled input fields (not clicked)
---------------------------------------------*/
input.inputField_dis,input.inputField_dis_small,input.inputField_dis_mid,input.inputFieldFsearch_dis,input.inputFieldKal_dis,textarea.inputFieldKalDesc_dis,textarea.inputField_dis,input.inputField_dis_profil,textarea.inputField_dis_nletter,input.inputField_en,input.inputField_en_mid,input.inputField_en_small,input.inputFieldFsearch_en,input.inputFieldKal_en,textarea.inputFieldKalDesc_en,textarea.inputField_en,input.inputField_en_profil,textarea.inputField_en_nletter,textarea.inputField_dis_profil,textarea.inputField_en_profil {
    border: 1px solid #111;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    background-color: #F7F7F7;
    color: #000;
    padding:1px;
    width: 250px;
}
input.inputField_en,input.inputField_en_mid,input.inputField_en_small,input.inputFieldFsearch_en,input.inputFieldKal_en,textarea.inputFieldKalDesc_en,textarea.inputField_en,input.inputField_en_profil,textarea.inputField_en_nletter,textarea.inputField_en_profil {
    background-color: #FFF;
    border: 1px solid #000;
}
/*---------------------------------------------
Several input fields
---------------------------------------------*/
/*
  Small inputfields
*/
input.inputField_dis_small,input.inputField_en_small {
    width: 22px;
    text-align: center;
}
/*
  Middle sized inputfields
*/
input.inputField_dis_mid,input.inputField_en_mid {
    width: 68px;
}
/*
  Board Search
*/
input.inputFieldFsearch_dis,input.inputFieldFsearch_en {
    width: 180px;
}
/*
  Calendar admin
*/
input.inputFieldKal_dis,input.inputFieldKal_en {
    width: 240px;
}

textarea.inputFieldKalDesc_dis,textarea.inputFieldKalDesc_en {
    overflow: Auto;
    width: 240px;
    height: 100px;
}
/*
  Edit profile fields
*/
input.inputField_dis_profil,input.inputField_en_profil,
textarea.inputField_dis_profil,textarea.inputField_en_profil {
    width: 200px;
}
/*
  Gallery Admin
*/
textarea.inputField_dis,textarea.inputField_en {
    overflow: Auto;
    height: 100px;
}

/*
  Newsletter textarea
*/
textarea.inputField_dis_nletter,textarea.inputField_en_nletter {
    width: 90%;
    height: 200px;
    overflow: Auto;
}
/*---------------------------------------------
Atrributes of (submit)buttons
---------------------------------------------*/
input.submit {
    margin: 0;
    padding: 1px 10px;
    background: #FFF url(../images/submit.jpg);
    border: 1px solid #5F5F5F;
    color: #000;
    cursor: pointer;
    font-weight: normal;
}
input.submit:hover {
    background-image: url(../images/submit_hover.jpg);
}
/*IE Hack*/
*+html input.submit { overflow: visible; }
* html input.submit { overflow: visible; }
/*####################################
  These sheets shouldn`t be edited
####################################*/
input.checkbox,input#loginCheckbox {
    border:0;
    cursor: pointer;
}

.emph,.msg {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    padding: 2px; z-index: 9999999;
}

.msg * { color: #000 }
.msg a:link, .msg a:visited { color: #000 }

td.middle,div.middle {
    vertical-align: middle;
    text-align: center;
}


/*####################################
  DZCP 1.4 Styles
####################################*/
/*---------------------------------------------
  WYSIWYG-Editor
---------------------------------------------*/
textarea.mobileEditor {
    overflow: auto;
    width: 637px;
    height: 200px;
}

textarea.editorStyle,
textarea.editorStyleWord,
textarea.editorStyleMini,
textarea.editorStyleNewsletter {
    overflow: auto;
    width: 637px;
    height: 200px;
}
textarea.editorStyleWord {
    height: 270px;
}
textarea.editorStyleMini {
    width: 500px; height: 100px;
}

/*
  shouldn`t be edited
*/

div.clipMore {
    border-top: 1px dashed #BBB;
    border-bottom: 1px dashed #BBB;
    padding: 2px;
}

p {
    margin: 0;
    padding: 0;
}

div#previewDIV {
    margin-top: 9px;
    min-height: 100%;
    height: 100%;
}

/*---------------------------------------------
  JS Infolayer
---------------------------------------------*/
div#infoDiv {
    z-index: 100;
    position: absolute;
    display: none;
    -moz-opacity: 0.80;
}
div#infoInnerLayer {
    border: 1px solid #000;
}

div#infoInnerLayer td {
    padding: 2px;
}

div#infoDiv {
    min-width: 250px; width: 250px;
    min-height: 100%;
    height: 100%;
}

div#hDiv {
    min-width: 250px; width: 250px;
    position: absolute; z-index: 9;
    top: 0; left: 0;
}

iframe#ieFix {
    position: absolute; z-index:0;
    top: 0; left: 0;
}

td.infoTop {
    font-weight: bold;
    border-bottom: 1px solid #000;
}

/*---------------------------------------------
  Syntax Highlighting (PHP)
---------------------------------------------*/
.codeHead {
    background-color: #20262b;
    border: 1px solid #000;
    padding: 2px;
}

.code,.codeHead  {
    width: 470px;
    max-height: 200px;
    background-color: #FFF;
    border: 1px solid #000;
    padding: 0;
    overflow:auto;
}

.codeHead {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #000;
    font-weight: bold;
    border-bottom: 0;
    background-color: #DDD;
}

.codeLines {
    width: 1%;
    color: #000;
    background-color: #DDD;
    border-right: 1px solid #000;
}
.codeContent,.codeContent *,.codeLines {
    padding: 0 2px 0 4px;
    font-family: "Courier New", Verdana, Arial, serif;
    font-size: 11px;
}
.codeContent * {
    padding:0;
}
/*---------------------------------------------
  Colors of highlighting
---------------------------------------------*/
td.codeContent .string { color: #800; }
td.codeContent .comment { color: #C0C0C0; }
td.codeContent .keyword { color: #000; font-weight:bold; }
td.codeContent .bg { background: #DDD; }
td.codeContent .default { color: #000080; }
td.codeContent .html { color : #880; }
/*---------------------------------------------
  Resized Image Text (resized to...)
---------------------------------------------*/
span.resized {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
}

/*---------------------------------------------
Navigation: Teamswitcher
---------------------------------------------*/
select.teamswitch {
    width: 160px;
    color: #000;
    font-size: 97%;
    background-color: #FFF;
    border: 1px #000 solid;
}

/*---------------------------------------------
Attributes of all icons (flags/email/hp/teamspeak,etc)
---------------------------------------------*/
img.icon,img.helpicon,img.tsicon {
    vertical-align: middle;
}
/*
  helpicon
*/
img.helpicon { cursor: help; }
/*
  Teamspeak icons
*/
img.tsicon {
    margin: 1px;
}
/*---------------------------------------------
Board Quotes
---------------------------------------------*/
.quote {
    width: 95%;
    margin: auto;
    border: 1px solid #000;
    padding: 10px 2px 10px 16px;
    background: #FFF url(../../../images/quote.gif) no-repeat;
    color: #000;
}
.quote b, .quote a {
    font-size: 11px;
    color: #000;
}

/*---------------------------------------------
Adminmenu
---------------------------------------------*/
.adminBarInner,.adminBarInnerOver {
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 3px;
}

.adminBarOuter,.adminBarOuterOver {
    text-decoration : none;
    border: 1px solid #353535;
}

.adminMenuInner,.adminMenuInnerOver {
    margin: 3px 0 0 22px;
}

.adminMenuOuter,.adminMenuOuterOver {
    text-decoration : none;
    border: 1px solid #353535;
    padding: 0;
    background: no-repeat 2px 50%;
}

/**************
  Search form
**************/
fieldset.search {
    border: 1px solid #000;
}

legend.search {
    margin: 0;
    padding: 0;
    color: #000;
}

ul.search {
    height: 200px;
    overflow: auto;
    width: 100%;
    border: 1px solid #000;
}

ul.search {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul.search li {
    margin: 0;
    padding: 0;
}

label.search, label.searchKat {
    display: block;
    text-align: left;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
}

label.search:hover {
    background-color: #EEE;
}

label.searchKat {
    background-color: #dbdbdb;
    font-weight: bold;
}

td.searchHead {
    border-bottom: 1px solid #888;
}

input.chksearch {
    margin: 2px;
    border:0;
    cursor: pointer;
}

.highlightSearchTarget {
    padding: 2px;
    color: #000;
    background-color: #FEFECE;
}

/*####################################
  TEMPLATE SPECIFIC STYLES
####################################*/
#time {
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}
td.nautor a:link,td.nautor a:visited,td.nautor a:hover,td.nautor a:active {
    color: #FFF;
}

/**************
  Permission Table
**************/
div.permissions input.checkbox {
    float: left; margin: 1px 2px;
}

div.permissions label {
    display: block; float: left; clear: right;
    width: 45%;
    text-align: left;
}

div.permissions br {
    clear: both;
    height: 0; line-height: 0; font-size: 0;
}

/**************
  Lightbox
**************/
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}
#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
    position: relative;
    background-color: #FFF;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}
#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}
#lightbox-nav-btnNext {
    right: 0;
    float: right;
}
#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}
#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
    width: 26px;
    float: right;
    padding-bottom: 15px;
}
/**************
  Newsticker
**************/
div#ticker {
    position: absolute;
    top: 158px; left: 485px;
    width: 512px;
    overflow: hidden;
    padding: 0; text-align: center;
}

div#ticker,
div#ticker div.scrollDiv,
div#ticker div.scrollDiv td {
    white-space: nowrap;
}

div#ticker a:link,
div#ticker a:visited {
    color: #FFF;
}

div#ticker a:hover,
div#ticker a:active {
    color: red;
}

/**************
  globale Suche
**************/
#searchpanel {
    width: 150px;
    border: 1px solid #111;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    background-color: #F7F7F7;
    color: #000;
    padding: 1px;
}
* html #searchpanel { margin: -1px 0 }
*+html #searchpanel { margin: -1px 0 }

input.searchSubmit {
    padding-bottom: 1px; height: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background: #FFF url(../images/submit.jpg);
    border: 1px solid #5F5F5F;
    color: #000;
    cursor: pointer;
}
input.searchSubmit:hover {
    background-image: url(../images/submit_hover.jpg);
}
/*IE Hack*/
*+html input.searchSubmit { overflow: visible; }
* html input.searchSubmit { overflow: visible; }

/****************************************/

img.border {
    border: 1px solid #777;
}

#footer {
    background: url(../images/footer_bg.jpg) repeat-x;
}

#copyright {
    position: absolute;
    top: 17px; left: 725px;
    text-transform: uppercase; color: #FFF;
    font-family: Arial, sans-serif;
}

#copyright a:link, #copyright a:visited {
    color: #FFF;
}
#copyright a:hover, #copyright a:active {
    text-decoration: underline;
}

#backlinks {
    position: absolute;
    top: 17px; left: 31px;
    color: #FFF;
}

#backlinks div {
    padding: 2px;
}
#backlinks div a { font-size: 9px; }

#backlinks a:link, #backlinks a:visited {
    color: #FFF; font-size: 11px;
    padding: 0 3px;
}
#backlinks a:active, #backlinks a:hover {
    text-decoration: underline;
}

td.dotted {
    height: 1px; line-height: 1px; font-size: 1px;
    background: url(../images/dotted.jpg) repeat-x;
}

span.newskat,
span.newskat_active {
    display: block; float: left;
    width: 88px; height: 25px; margin: 0 2px;
    background: url(../images/newskat.jpg) no-repeat;
}

span.newskat_active a:link, span.newskat_active a:visited,
span.newskat a:link, span.newskat a:visited {
    display: block;
    width: 88px; height: 19px;
    padding-top: 6px; font-size: 11px;
    text-align: center; color: #3b3b3b;
}
span.newskat_active a:link, span.newskat_active a:visited,
span.newskat a:hover, span.newskat a:active {
    background-image: url(../images/newskat_hover.jpg);
    color: #FFF;
}

.normal a:link, .normal a:visited {
    color: #3b3b3b;
}
.normal a:hover, .normal a:active {
    text-decoration: underline;
}

#forumHolder {
    position: absolute;
    width: 668px; height: 257px;
    left: 50%; top: -261px;
    margin-left: -450px;

}
a.userLobby:link,a.userLobby:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
a.userLobby:hover,a.userLobby:active {
    color: #e2001a;
}

/******************************************************************/
img.newsKat {
    width: 52px; height: 52px;
    border: 1px solid #333;
}
img.newsKat:hover,
td.newsentry:hover img.newsKat {
    border: 1px solid red;
}

td.newsentry:hover {
    background: #e5e5e5;
}

ul#tutLinks,
ul#tutLinks li {
    padding: 0;
    margin: 0 0 0 7px;
}
/******************************************************************/
.ratingblock {
    display: block;
    border-bottom: 0 solid #999;
    padding-top: 0;
    margin-bottom: 0;
}

.unit-rating {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 16px;
    position: relative;
   /* background: url('../../../images/starrating.gif') top left repeat-x; */
}

.unit-rating li {
    text-indent: -90000px;
    padding: 0;
    margin: 0;
    float: left;
    display:block;
    width:auto;
}

.unit-rating li a {
    outline: none;
    display: block;
    width: 16px;
    height: 16px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
    position: absolute;
    padding: 0;
}

.unit-rating li a:hover{
  /*  background: url('../../../images/starrating.gif') left center; */
    z-index: 2;
    left: 0;
}

.unit-rating a.r1-unit {
    left: 0;
}

.unit-rating a.r1-unit:hover {
    width:16px;
}

.unit-rating a.r2-unit {
    left:16px;
}

.unit-rating a.r2-unit:hover {
    width: 32px;
}

.unit-rating a.r3-unit {
    left: 32px;
}

.unit-rating a.r3-unit:hover {
    width: 48px;
}

.unit-rating a.r4-unit {
    left: 48px;
}

.unit-rating a.r4-unit:hover {
    width: 64px;
}

.unit-rating a.r5-unit {
    left: 64px;
}

.unit-rating a.r5-unit:hover {
    width: 80px;
}

.unit-rating a.r6-unit {
    left: 80px;
}

.unit-rating a.r6-unit:hover {
    width: 96px;
}

.unit-rating li.current-rating {
  /*  background: url('../../../images/starrating.gif') left bottom; */
    position: absolute;
    height: 16px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
}

.voted {
    color: #000;
    line-height: 2;
}

.static {
    color: #000;
}

a.teamLink {
    position: absolute;
    top: 78px; right: 11px;
    display: block;
    width: 54px; height: 18px;
}

/*---------------------------------------------
  Skyscrapper
---------------------------------------------*/
div#sky {
    position: absolute;
    top: 147px; left: 950px;
    cursor:pointer;
}

div#version {
    position: absolute;
    top: 4px; margin-left: 240px;
}

div#version b {
    color: #039A0F
}

a#version {
    color: #039A0F
}

div#stats {
    position: absolute;
    left: -10000px; top: -10000px;
}

a.dz ,a.dz:link, a.dz:visited, a.dz:hover, a.dz:active {
    color: #FFF;
    font-size: 11px;
    padding: 0 3px;
    font-weight: bold;
}

#dialog-confirm, #dialog-confirm-lock {
    display: none;
}

/*---------------------------------------------
  Downloads
---------------------------------------------*/
td.dl_top {
    cursor: pointer;
    width:50%;
}
td.dl_top_title {
    background-color:#F5F5F5;
    font-weight:bold;
    padding-left:5px;
    color: #000;
}

td.dl_top_kat {
    padding:3px 5px 0 5px;
    color:#e2001a;
}

td.dl_top_body {
    padding:3px 5px 0 5px;
    color:#000;
}

td.dl_place {
    width: 1%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    padding: 4px;
    background-color:#7c7c7c;
}

td.top_dl,td.new_dl {
    background-color: #828281;
    border:1px solid #5F5F5F;
}
td.top_dl:hover,td.new_dl:hover {
    border: 1px solid #e2001a;
}

td.small {
    font-size: 9px;
}

a.downloadLink {
    display:block;
    background-image:url(../../../images/download.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}